.navbar-toggle {
    background-color: gray;
    opacity: 0.7;
}


header {
  margin-bottom: 30px;
}


header .navbar-toggle {
  margin-left: 18px;
  margin-top: 8px; }

.navbar-nav {
  background-color: white;
}

.navbar-nav > .open > a {
  text-decoration: overline ; }

.navbar-nav > li > a:hover {
  border-color: #e35600;
}


/*------------------ Couleurs --------------------*/
.corail-txt{
  color: #e35600;
}

.corail-bg{
  background-color: #ff7f50;
}

.corail-bc {
  border-color: #e35600;
}

.orangeMaquette-bg{
  background-color: #E4B176;
}

.orangePastelMaquette-bg {
  background-color: #F3DCC1;
}

.bg-red {
  background-color: red;
}

/*----------------- logo --------------------------*/

.logo-dgfip {
  width: 40%; }
  .logo-dgfip > img {
    width: 100%;
  }

.logo-capNum {
  width: 98%;
  display: inline-block;
  float: right;
}

.logo-capNum > img{
  width:200px;
  display:inline-block;
  float: right;
}

.devDemarche {
  padding-left:30px;
}

.devDemarche > ul {
  list-style-type: none;
}

.devDemarche > ul > li + li {
  margin-top:10px;}

.devDemarche > ul > li > a {
  text-decoration: none;
}


